:root {
    --main-bg-color: #222;
    --main-text-color: #fff;
    --link-color: #4E7998;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    width: 80%;
    max-width: 1140px;
    margin: 30px auto;
}

h2 {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

h2.welcome-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1em;
}

p {
    font-weight: 200;
    margin-top: 0;
}

a {
    font-weight: 400;
    color: var(--link-color);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

aside {
    border: 1px solid white;
    padding: 10px;
}

.visualization {
    width: 100%;
    padding: 0;
}

section {
    margin-top: 20px;
}

footer {
    border-bottom: 1px solid white;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.hour {
    text-transform: uppercase;
}

/* 404 */
.fourofour {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.fourofour {
    font-size: 1.5em;
}


@media only screen and (min-width: 750px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto 2fr auto;
        grid-template-areas:
        "head head head"
        "vis vis vis"
        "welcome hours contact"
        "welcome hours contact"
        "foot foot foot";
        grid-column-gap: 2.25em;
    }

    header {
        grid-area: head;
    }

    .visualization {
        grid-area: vis;
    }

    .welcome {
        grid-area: welcome;
    }

    .hours {
        grid-area: hours;
    }

    .contact {
        grid-area: contact;
    }

    footer {
        grid-area: foot;
    }
}

